body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.eye-container {
    display: flex;
    gap: 60px;
    perspective: 1000px;
}

/* Ojos Squircle Naranjas */
.eye {
    width: 150px;
    height: 100px;
    /* Degradado naranja normal a oscuro */
    background: linear-gradient(180deg, #ff9500 0%, #ff5e00 60%, #802f00 100%);
    border-radius: 40px; /* Forma cuadrada redondeada del concepto */
    position: relative;
    transition: transform 0.1s ease-out, background 0.4s ease, height 0.1s ease, border-radius 0.3s ease;
    box-shadow: 0 0 30px rgba(255, 94, 0, 0.4);
}

/* --- ESTADOS INTERACTIVOS --- */

/* 1. ENOJO: Ojo Rojo */
.eye.angry {
    background: linear-gradient(180deg, #ff3b30 0%, #ff0000 60%, #800000 100%) !important;
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.7) !important;
}

/* Inclinación de enojo */
#left-eye.angry { transform: rotate(15deg); }
#right-eye.angry { transform: rotate(-15deg); }

/* 2. SUSTO: Se vuelven circulares y grandes */
.eye.scared {
    transform: scale(1.3);
    border-radius: 75px;
    filter: brightness(1.2);
}

/* 3. PESTAÑEO: Se cierran a una línea */
.eye.blink {
    height: 4px !important;
    border-radius: 2px;
}